<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <!-- START JQUERY VALIDATION PLUGIN -->
      <div class="block">
        <h4>Add Category</h4>
        <form
          id="jvalidate"
          role="form"
          class="form-horizontal"
          [formGroup]="formCategory"
          (ngSubmit)="addCategory()"
        >
          <div class="panel-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Name:</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="login" formControlName="name" />
         
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" >Description:</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="password"
                  formControlName="description"
                  id="password2"
                />
               
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Photo</label>
              <div class="col-md-P">
                <input type="file"  multiple (change)="handleFileInput($event)" />
              </div>
            </div>
            <div class="btn-group pull-right">
              <button class="btn btn-primary" type="submit">Add Category</button>
            </div>
          </div>
        </form>
        <!-- END JQUERY VALIDATION PLUGIN -->
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>